apiVersion: v1
kind: Service
metadata:
  name: {{ include "store-ui-chart.fullname" . }}
  labels:
    {{- include "store-ui-chart.labels" . | nindent 4 }}
    {{- with .Values.service.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: LoadBalancer
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
  selector:
    {{- include "store-ui-chart.selectorLabels" . | nindent 4 }}
